/* Icons.css */
.icons-container {
    display: flex;
    gap: 15px; /* Space between icons */
    z-index:2000;
  }
  
  .icon-btn {
    background: transparent;
    border: none;
    font-size: 20px; /* Larger icon size */
    cursor: pointer;
  }
  
  .icon-btn:hover {
    color: #3b82f6; /* Lighter blue on hover */
  }